{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Звіти виконаних заявок</title>

    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
</head>
<body>
<header class="bg-primary text-white py-4">
    <div class="container">
        <h1 class="display-3">Звіти виконаних заявок</h1>
        <nav class="d-flex justify-content-between align-items-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'report_list' %}">Усі заявки </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'users_list' %}">Користувачі</a>
                </li>
                <!-- Add "Create Post" button here -->
                <a href='{% url "subscriber_create" %} ' class="btn btn-success">Додати Абонента</a>
                <a href='{% url "report_create" %} ' class="btn btn-success">Додати Звіт</a>
            </ul>
            <div class="ms-auto">
                    <span class="me-3 text-white">Вітаю, <a href="{% url 'user_detail' user.pk %}"
                                                            class="btn btn-outline-info my-2 my-sm-0">{{ user.username }}</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-info my-2 my-sm-0">Вийти</a>
                    </span>
            </div>
            {% else %}
            </ul>
            <div class="ms-auto">
                <span class="me-3 text-white">Вітаю
                    <a href="{% url 'login' %}" class="btn btn-outline-info my-2 my-sm-0 me-2">Увійти</a>
                    <a href="{% url 'user_create' %}" class="btn btn-outline-info my-2 my-sm-0">Зареєструватися</a>
                </span>
            </div>
            {% endif %}


        </nav>
    </div>
</header>


<div class="container my-5">
    <div class="row">
        <!-- Ліва бічна панель -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <!-- Відображення логотипу користувача, якщо він авторизований -->
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <img src="{{ user.avatar.url }}" alt="Аватар користувача"
                             class="img-fluid rounded-circle">
                        <h4>{{ user.username }}</h4>
                        <h4>{{ user.last_name }}</h4>
                        <h4>{{ user.first_name }}</h4>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_update' user.pk %}">Рудагувати профіль</a>
                    </li>
                    {% endif %}
                    <!-- Додайте інші пункти меню сюди -->
                </ul>
            </div>
        </nav>

        <!-- Основний блок контенту (посередині) з вирівнюванням по верхньому краю -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-start">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<footer class="bg-primary text-white text-center py-3">
    <div class="container">
        <p>&copy; 2023 Mini Twitter</p>
    </div>
</footer>

<!-- Add Bootstrap JS scripts at the end of the body if needed -->

</body>
</html>
