{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Список Користувачів</h1>
    <ul class="list-group">
        {% for user_info in users %}
        <li class="list-group-item">
            <!-- Інші поля користувача, які вам потрібні -->
            <div class="btn-group">
                <img src="{{ user_info.avatar.url }}" alt="Аватар користувача"
                     class="img-fluid rounded-circle" width="30">
                <a href="{% url 'user_detail' user_info.pk %}"><h2>{{ user_info }}</h2></a>
                <div class="btn-group">


                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}